[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
faker = "*"
flask-debugtoolbar = "*"
bootstrap-flask = "*"
flask-ckeditor = "*"
flask-markdown = "*"
flask-login = "*"

[requires]
python_version = "3.7"
