{% from 'bootstrap/pagination.html' import render_pagination %}
<div class="content pb-3">
  {% if posts %} 
    {% for post in posts %}
    <article class="card mt-3 mb-3">
      <div class="card-body">
        <h4 class="card-title"><a href="{{ url_for('.post', post_id=post.id) }}">{{ post['title'] }}</a></h4>
        <p class="card-text">{{ post['content'] }}</p>
      </div>
      <div class="card-footer text-muted">
        <small>
          <span class="float-right">{{ post['created'].strftime('%Y-%m-%d') }}</span>
          <i class="fa fa-eye"></i> 阅读({{ post['read_count'] }}) <i class="fa fa-comments"></i> 评论({{ post.comments|length }})
        </small>
      </div>
    </article>
    {% endfor %}
  {% else %} 
    <div class="tip">
      <h5>没有找到文章</h5>
    </div>
  {% endif %}
</div>

{% if posts %}
  {{ render_pagination(pagination,prev='上一页',next='下一页') }}
{% endif %}