{% extends 'base.html' %} 

{% block title %}链接管理{% endblock %}

{% block main %}
  <div class="row">
      <div class="col-md-12"> 
        <header class="p-3"><h3>链接管理 ({{ links|length }})<a class="btn btn-info btn-sm float-right" href="{{ url_for('.add_link') }}">添加</a></h3></header>
          <div class="table-responsive">
              <table class="table table-striped border">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>地址</th>
                    <th>操作</th>                
                  </tr>
                </thead>
                <tbody>
                  {% for link in links %}
                      <tr>
                        <td>{{ link.id }}</td>
                        <td>{{ link.name }}</td>
                        <td>{{ link.url }}</td>
                        <td>
                            <form class="inline" method="post" action="{{ url_for('.delete_link', link_id=link.id) }}">
                              <a class="btn btn-info btn-sm"
                          href="{{ url_for('.edit_link', link_id=link.id) }}">编辑</a>
                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确定删除吗?');">删除</button>
                          </form>
                        </td>
                      </tr>
                  {% endfor %}  
                </tbody>
              </table>
          </div>
      </div>   
  </div>
{% endblock %} 