{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="zh-Hans" class="h-100">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
      <!--<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">-->
      <style>
        body {
          background-color:#f2f2f7; 
          font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
        }
      </style>
      <title>{% block title %}{% endblock %} - {{ options['blog_title'] }}</title>
    {% endblock head %}
  </head>

  <body class="d-flex flex-column h-100" style="padding-top: 5rem"> 
    <nav class="navbar bg-white navbar-light navbar-expand-md fixed-top border-bottom shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><b>{{ options['blog_title'] }}</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {{ render_nav_item('main.index','首页') }}


                {% for page in pages %}
                {{ render_nav_item('main.page', page.title, slug=page.slug) }}
                  
                {% endfor %}
 
          </ul>

          <ul class="navbar-nav ml-auto">   
            {{ options['blog_navbar']|safe }}
            
         
        </ul>

        </div>
      </div>
    </nav>

    <header>
      <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
          </div>
        {% endfor %}
      </div>
    </header>

    <main class="container">
      {% block header %}{% endblock %}
      {% block main %}{% endblock %}
    </main>

    <footer class="container-full mt-auto bg-light border-top">
      {% block footer %}
      <div class="py-5 text-muted text-center"> 
          <p><small>© 2015-2020 空心. All Rights Reserved.<br/>
            Powered by <a target="_blank" href="https://github.com/pythoneer-ljz/onelog">Onelog</a>.
          </small></p>
          {{ options['blog_footer']|safe }}
      </div>
      {% endblock %}
    </footer>
   
    {% block scripts %}
      <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
      {# moment.include_moment() #}
      {# moment.locale(auto_detect=True) #}
      <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
      <script>
        moment.locale("en");
        function flask_moment_render(elem) {
            timestamp = moment($(elem).data('timestamp'));
            func = $(elem).data('function');
            format = $(elem).data('format');
            timestamp2 = $(elem).data('timestamp2');
            no_suffix = $(elem).data('nosuffix');
            args = [];
            if (format)
                args.push(format);
            if (timestamp2)
                args.push(moment(timestamp2));
            if (no_suffix)
                args.push(no_suffix);
            $(elem).text(timestamp[func].apply(timestamp, args));
            $(elem).removeClass('flask-moment').show();
        }
        function flask_moment_render_all() {
            $('.flask-moment').each(function() {
                flask_moment_render(this);
                if ($(this).data('refresh')) {
                    (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
                }
            })
        }
        $(document).ready(function() {
            flask_moment_render_all();
        });
        </script>
              <script>
        var locale = window.navigator.userLanguage || window.navigator.language;
        moment.locale(locale);
        </script>
              
    {% endblock %}
  </body>
</html>
